/*ticker-rates*/
.ticker-tape-container {
  overflow-x: hidden;
  display: flex;
}

.ticker-tape {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  gap: 1rem;
  margin-right: 1rem;
  animation-name: marquee;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*hero-converter*/
.hero-converter-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

/*hero*/
.hero-layout {
  text-align: center;
  margin-bottom: 50px;
}

.get-started {
  margin-right: 80px;
}

/*graph30days*/
.graph30days-layout {
  display: flex;
  flex-direction: column;
}

.graph-header {
  display: flex;
  justify-content: space-between;
}

.graph30days-detail {
  display: flex;
  flex-direction: column;
}

.graph30days-currencies {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*converter*/
.converter-layout {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 10px;
}

.currency-selector {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 767px) {
  .hero-converter-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
